<div>
    <%= f.check_box :_destroy %>
    <div>
        <%= f.label :kind %>
        <%= f.text_field :kind %>
    </div>
    <div>
        <%= f.label :street %>
        <%= f.text_field :street %>
    </div>
</div>